<p id="notice"><%= notice %></p>

<p>
  <strong>Sigla:</strong>
  <%= @tipo_doc.sigla %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_doc.descripcion %>
</p>

<%= link_to 'Edit', edit_tipo_doc_path(@tipo_doc) %> |
<%= link_to 'Back', tipo_docs_path %>
