<%= form_for(@cuentadante) do |f| %>
  <% if @cuentadante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cuentadante.errors.count, "error") %> prohibited this cuentadante from being saved:</h2>

      <ul>
      <% @cuentadante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :tipo_doc_id %><br>
    <%= f.text_field :tipo_doc_id %>
  </div>
  <div class="field">
    <%= f.label :documento %><br>
    <%= f.text_field :documento %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono %>
  </div>
  <div class="form-group">
    <label>Ubicacion</label><br>
    <%= f.collection_select :area_id, Area.all, :id, :nombre, class: "form-control tams", prompt: "Seleccione Ubicacion" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
