<%= form_for(@cuentadante) do |f| %>
  <% if @cuentadante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cuentadante.errors.count, "error") %> prohibited this cuentadante from being saved:</h2>

      <ul>
      <% @cuentadante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :tipo_doc_id %><br>
    <%= f.text_field :tipo_doc_id %>
  </div>
  <div class="field">
    <%= f.label :documento %><br>
    <%= f.number_field :documento %>
  </div>
  <div class="field">
    <%= f.label :cantidad_elementos %><br>
    <%= f.number_field :cantidad_elementos %>
  </div>
  <div class="field">
    <%= f.label :nombre_elementos %><br>
    <%= f.text_field :nombre_elementos %>
  </div>
  <div class="field">
    <%= f.label :valor_elementos %><br>
    <%= f.text_field :valor_elementos %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
