

<div class="fondc2" >
<h1>Listado De Cuentadantes</h1>
<%#<%= form_tag cuentadantes_path, :method => 'get' do %>
<%#  <% content_tag :label do %>
<%#    <div class="form-group pos">
      Buscar Cuentadante:
      <%= text_field_tag :search, params[:search], class: 'form-control tams' %>
<%#      <%= image_submit_tag("busca.png", height: '16', width: '18', class: 'img11') %>
<%#    </div>
<%#  <% end %>
<%#<% end %>
 <a href="#openModal" class="btTxt">ABRIR VENTANA</a>
<div id="openModal" class="modalDialogo"><div><a href="#close" title="cerrar" class="cerrar">X</a>
 
<h2>Importar Cuentadantes</h2>
<%= form_tag import_cuentadantes_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar" %>
<% end %>

</div></div>





<div class="panel-body contabla">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="success">
            <th class="centro">Nombre</th>
            <th class="centro">Tipo De Documento</th>
            <th class="centro">Documento</th>
            <th class="centro">Telefono</th>
            <th class="centro">Cantidad Elementos</th>
            <th class="centro">Opciones</th>
          </tr>
        </thead>

        <tbody>
          <% @cuentadantes.each do |cuentadante| %>
            <tr>
              <td><%= cuentadante.nombre %></td>
              <td><%= cuentadante.tipo_doc.sigla %></td>
              <td><%= cuentadante.documento %></td>
              <td><%= cuentadante.telefono%></td>
              <td><%= link_to 'Ver Elementos ⇨ '+ cuentadante.elementos.count.to_s + '', cuentadante_elementos_path(cuentadante), class: "btn btn-default btn-sm" %></td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown"><%= image_tag("opcion.png", height: '10', width: '18', class: 'img1') %>
                  </button>
                  <ul class="dropdown-menu drop" role="menu">
                    <li><a href="#"><%= button_to 'Ver', area_cuentadante_path(@area,cuentadante), method: "get", class: 'btn btn-info btn-xs' %></a></li>
                    <% if can? :update, cuentadante %>
                    <li class="divider"></li>
                    <li><a href="#"><%= button_to 'Editar', edit_area_cuentadante_path(@area,cuentadante), method: "get", class: 'btn btn-warning btn-xs' %></a></li>
                    <% end %>
                    <% if can? :destroy, cuentadante %>
                    <li class="divider"></li>
                    <li class="op1"><a href="#"><%= link_to 'Eliminar', area_cuentadante_path(@area,cuentadante), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs col1' %></td></a></li>
                    <% end %>
                  </ul>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<br>

<%= button_to 'Nuevo Cuentadante', new_area_cuentadante_path(@area), method: "get", class: 'btn btn-primary' %>

<br>
Cuentadantes: <%= @cuentadantes.count %>

</div>