<div class="fondc2" >
<h1>Listado De Cuentadantes</h1>
<div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="success">
            <th class="centro">Nombre</th>
            <th class="centro">Tipo De Documento</th>
            <th class="centro">Documento</th>
            <th class="centro">Cantidad De Elementos</th>
            <th class="centro">Nombre Elementos</th>
            <th class="centro">Valor Elementos</th>
            <th colspan="3" class="centro">Opciones</th>
          </tr>
        </thead>

        <tbody>
          <% @cuentadantes.each do |cuentadante| %>
            <tr>
              <td><%= cuentadante.nombre %></td>
              <td><%= cuentadante.tipo_doc %></td>
              <td><%= cuentadante.documento %></td>
              <td><%= cuentadante.cantidad_elementos %></td>
              <td><%= cuentadante.nombre_elementos %></td>
              <td><%= cuentadante.valor_elementos %></td>
              <td><%= button_to 'Ver', cuentadante, method: "get", class: 'btn btn-info' %></td>
              <td><%= button_to 'Editar', edit_cuentadante_path(cuentadante), method: "get", class: 'btn btn-warning' %></td>
              <td><%= button_to 'Eliminar', cuentadante, method: :delete, data: { confirm: 'Are you sure?', method: "get" }, class: 'btn btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<br>

<%= button_to 'Nuevo Cuentadante', new_cuentadante_path, method: "get", class: 'btn btn-primary' %>
</div>