


<div class="fondc2" >
<h1>Listado De Cuentadantes</h1>
<%= form_tag cuentadantes_path, :method => 'get' do %>
  <% content_tag :label do %>
    <div class="form-group pos">
      Buscar Cuentadante:
      <%= text_field_tag :search, params[:search], class: 'form-control tams' %>
      <%= image_submit_tag("busca.png", height: '16', width: '18', class: 'img1') %>
    </div>
  <% end %>
<% end %>
<div class="panel-body contabla">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="success">
            <th class="centro">Nombre</th>
            <th class="centro">Tipo De Documento</th>
            <th class="centro">Documento</th>
            <th class="centro">Cantidad Elementos</th>
            <th class="centro">Opciones</th>
          </tr>
        </thead>

        <tbody>
          <% @cuentadantes.each do |cuentadante| %>
            <tr>
              <td><%= cuentadante.nombre %></td>
              <td><%= cuentadante.tipo_doc.sigla %></td>
              <td><%= cuentadante.documento %></td>
              <td><%= link_to 'Ver Elementos ⇨ '+ cuentadante.elementos.count.to_s + '', cuentadante_elementos_path(cuentadante), class: "btn btn-default btn-sm" %></td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><%= image_tag("opcion.png", height: '10', width: '18', class: 'img1') %>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><%= button_to 'Ver', cuentadante, method: "get", class: 'btn btn-info bottam' %></a></li>
                    <li class="divider"></li>
                    <li><a href="#"><%= button_to 'Editar', edit_cuentadante_path(cuentadante), method: "get", class: 'btn btn-warning bottam2' %></a></li>
                    <li class="divider"></li>
                    <li><a href="#"><%= button_to 'Eliminar', cuentadante, method: :delete, data: { confirm: 'Are you sure?', method: "get" }, class: 'btn btn-danger bottam3' %></td></a></li>
                  </ul>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<br>

<%= button_to 'Nuevo Cuentadante', new_cuentadante_path, method: "get", class: 'btn btn-primary' %>
<%= will_paginate @cuentadantes, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' %>
<br>
Cuentadantes: <%= @cuentadantes.count %>









</div>