<div class="fondc2" >
<h1>Listado De Cuentadantes</h1>
<hr class="divider">

<div class="buscadormultiple">
  
  <div class="busca1-2">
    <%= form_tag @cuentadante, :method => 'get' do %>
        <div class="form-group pos">
          Buscar Por Nombre:
          <%= text_field_tag :search, params[:search], class: 'form-control tams', :value => nil %>
          <%= image_submit_tag("busca.png", height: '16', width: '18', class: 'img1') %>
        </div>
    <% end %>
  </div>

  <div class="busca2-2">
    <%= form_tag @cuentadante, :method => 'get' do %>
        <div class="form-group pos2">
          Buscar X Documento:
          <%= text_field_tag :documento, params[:documento], class: 'form-control' , :value => nil %>
          <%= image_submit_tag("busca.png", height: '16', width: '18', class: 'img1') %>
        </div>
    <% end %>
  </div>
  
</div>

<div class="import2">
  <h2 class="importitulo2">Importar Cuentadantes</h2>
  <%= form_tag import_cuentadantes_path, multipart: true do %>
    <div class="fileimport2">
    <%= file_field_tag :file %>
    </div>
    <%= submit_tag "Importar" %>
  <% end %>
</div>



<div class="panel-body contabla">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="success">
            <th class="centro">Nombre</th>
            <th class="centro">Tipo De Documento</th>
            <th class="centro">Documento</th>
            <th class="centro">Telefono</th>
            <th class="centro">Ubicacion</th>
            <th class="centro">Cantidad Elementos</th>
            <th class="centro">Opciones</th>
          </tr>
        </thead>

        <tbody>
          <% @cuentadantes.each do |cuentadante| %>
            <tr>
              <td><%= cuentadante.nombre %></td>
              <td><%= cuentadante.tipo_doc.sigla %></td>
              <td><%= cuentadante.documento %></td>
              <td><%= cuentadante.telefono%></td>
              <td><%= cuentadante.area.nombre %></td>
              <% if cuentadante.elementos.count >= 1 %>
              <td><%= cuentadante.elementos.count %><b> => elemento</b></td>
              <% else %>
              <td><%= cuentadante.elementos.count %><b> => elementos</b></td>
              <% end %>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown"><%= image_tag("opcion.png", height: '10', width: '18', class: 'img1') %>
                  </button>
                  <ul class="dropdown-menu drop" role="menu">
                    <li><a href="#"><%= button_to 'Ver', cuentadante, method: "get", class: 'btn btn-info bottam' %></a></li>
                    <% if can? :update, cuentadante %>
                    <li class="divider"></li>
                    <li><a href="#"><%= button_to 'Editar', edit_cuentadante_path(cuentadante), method: "get", class: 'btn btn-warning bottam2' %></a></li>
                    <% end %>
                    <% if can? :destroy, cuentadante %>
                    <li class="divider"></li>
                    <li class="op1"><a href="#"><%= link_to '<i class="btn btn-danger btn-xs bottam3">Eliminar</i>'.html_safe, cuentadante, method: :delete, data: { confirm: 'Estas Segur@?' } %></td></a></li>
                    <% end %>
                  </ul>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<br>

<%= button_to 'Nuevo Cuentadante', new_cuentadante_path, method: "get", class: 'btn btn-primary' %>

<br>
Cuentadantes: <%= @cuentadantes.count %>

</div>