<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cuentadante.nombre %>
</p>

<p>
  <strong>Tipo De Documento:</strong>
  <%= @cuentadante.tipo_doc.sigla %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @cuentadante.documento %>
</p>

<p>
  <strong>Cantidad De Elementos:</strong>
  <%= @cuentadante.cantidad_elementos %>
</p>

<p>
  <strong>Nombre Elementos:</strong>
  <%= @cuentadante.nombre_elementos %>
</p>

<p>
  <strong>Valor Elementos:</strong>
  <%= @cuentadante.valor_elementos %>
</p>

<%= link_to 'Editar', edit_cuentadante_path(@cuentadante) %> |
<%= link_to 'Atras', cuentadantes_path %>
