<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cuentadante.nombre %>
</p>

<p>
  <strong>Tipo doc:</strong>
  <%= @cuentadante.tipo_doc %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @cuentadante.documento %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @cuentadante.telefono %>
</p>

<%= link_to 'Edit', edit_cuentadante_path(@cuentadante) %> |
<%= link_to 'Back', cuentadantes_path %>
