<%= form_for(@traspaso) do |f| %>
  <% if @traspaso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@traspaso.errors.count, "error") %> prohibited this traspaso from being saved:</h2>

      <ul>
      <% @traspaso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :elemento_id %><br>
    <%= f.text_field :elemento_id %>
  </div>
  <div class="field">
    <%= f.label :cuentadante_id %><br>
    <%= f.text_field :cuentadante_id %>
  </div>
  <div class="field">
    <%= f.label :fechaTrapaso %><br>
    <%= f.datetime_select :fechaTrapaso %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
