<h1>Listing traspasos</h1>

<table>
  <thead>
    <tr>
      <th>Elemento</th>
      <th>Cuentadante</th>
      <th>Fechatrapaso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @traspasos.each do |traspaso| %>
      <tr>
        <td><%= traspaso.elemento %></td>
        <td><%= traspaso.cuentadante %></td>
        <td><%= traspaso.fechaTrapaso %></td>
        <td><%= link_to 'Show', traspaso %></td>
        <td><%= link_to 'Edit', edit_traspaso_path(traspaso) %></td>
        <td><%= link_to 'Destroy', traspaso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Traspaso', new_traspaso_path %>
