<p id="notice"><%= notice %></p>

<p>
  <strong>Elemento:</strong>
  <%= @traspaso.elemento %>
</p>

<p>
  <strong>Cuentadantedestino:</strong>
  <%= @traspaso.cuentadanteDestino %>
</p>

<p>
  <strong>Fechatraspaso:</strong>
  <%= @traspaso.fechaTraspaso %>
</p>

<%= link_to 'Edit', edit_elemento_traspaso_path(@elemento,@traspaso) %> |
<%= link_to 'Back', elemento_traspasos_path %>
