<p id="notice"><%= notice %></p>

<p>
  <strong>Elemento:</strong>
  <%= @traspaso.elemento %>
</p>

<p>
  <strong>Cuentadante:</strong>
  <%= @traspaso.cuentadante %>
</p>

<p>
  <strong>Fechatrapaso:</strong>
  <%= @traspaso.fechaTrapaso %>
</p>

<%= link_to 'Edit', edit_traspaso_path(@traspaso) %> |
<%= link_to 'Back', traspasos_path %>
