<h1>Listing traceabilities</h1>

<table>
  <thead>
    <tr>
      <th>Cuentadantes</th>
      <th>Elementos</th>
      <th>Events</th>
      <th>Reintegros</th>
      <th>Traspasos</th>
      <th>Users</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @traceabilities.each do |traceability| %>
      <tr>
        <td><%= traceability.cuentadantes %></td>
        <td><%= traceability.elementos %></td>
        <td><%= traceability.events %></td>
        <td><%= traceability.reintegros %></td>
        <td><%= traceability.traspasos %></td>
        <td><%= traceability.users %></td>
        <td><%= link_to 'Show', traceability %></td>
        <td><%= link_to 'Edit', edit_traceability_path(traceability) %></td>
        <td><%= link_to 'Destroy', traceability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Traceability', new_traceability_path %>
