<p id="notice"><%= notice %></p>

<p>
  <strong>Cuentadantes:</strong>
  <%= @traceability.cuentadantes %>
</p>

<p>
  <strong>Elementos:</strong>
  <%= @traceability.elementos %>
</p>

<p>
  <strong>Events:</strong>
  <%= @traceability.events %>
</p>

<p>
  <strong>Reintegros:</strong>
  <%= @traceability.reintegros %>
</p>

<p>
  <strong>Traspasos:</strong>
  <%= @traceability.traspasos %>
</p>

<p>
  <strong>Users:</strong>
  <%= @traceability.users %>
</p>

<%= link_to 'Edit', edit_traceability_path(@traceability) %> |
<%= link_to 'Back', traceabilities_path %>
