<link rel="stylesheet" type="text/css" href="../assets/stylesheets/style3.css" />
<div class="datos">
<strong class="datotitulo">Datos De Contacto #1</strong>
    <div class="movinfo1">
    <ul class="ca-menu2">
        <li>
            <a href="#">
                <span class="ca-icon2"><%= image_tag("myAvatar(2).png", height: '75', width: '75') %></span>
                <div class="ca-content2">
                    <h2 class="ca-main2">Juan Esteban Rios Arango</h2>
                    <h3 class="ca-sub2">Programador Y Analista</h3>
                </div>
            </a>
        </li>
    </ul>
    </div>
    <div class="movinfo1">
    <ul class="ca-menu2">
        <li>
            <a href="#">
                <span class="ca-icon2"><%= image_tag("myAvatar(2).png", height: '75', width: '75') %></span>
                <div class="ca-content2">
                    <h2 class="ca-main2">Telefono/Celular:</h2>
                    <h3 class="ca-sub2">3063860/3135850635</h3>
                </div>
            </a>
        </li>
    </ul>
    </div>
    <div class="movinfo1">
    <ul class="ca-menu2">
        <li>
            <a href="#">
                <span class="ca-icon2"><%= image_tag("myAvatar(2).png", height: '75', width: '75') %></span>
                <div class="ca-content2">
                    <h2 class="ca-main2">Direccion:</h2>
                    <h3 class="ca-sub2">Cra 58 Sur #61 - 49</h3>
                </div>
            </a>
        </li>
    </ul>
    </div>
</div><!-- content -->
<div class="datos2">
<strong class="datotitulo">Datos De Contacto #2</strong>
    <div class="movinfo1">
    <ul class="ca-menu2">
        <li>
            <a href="#">
                <span class="ca-icon2"><%= image_tag("AvatarJohn.png", height: '75', width: '75') %></span>
                <div class="ca-content2">
                    <h2 class="ca-main2">John Fredy Morales</h2>
                    <h3 class="ca-sub2">Programador Y Analista</h3>
                </div>
            </a>
        </li>
    </ul>
    </div>
    <div class="movinfo1">
    <ul class="ca-menu2">
        <li>
            <a href="#">
                <span class="ca-icon2"><%= image_tag("AvatarJohn.png", height: '75', width: '75') %></span>
                <div class="ca-content2">
                    <h2 class="ca-main2">Telefono/Celular:</h2>
                    <h3 class="ca-sub2">3136676973</h3>
                </div>
            </a>
        </li>
    </ul>
    </div>
    <div class="movinfo1">
    <ul class="ca-menu2">
        <li>
            <a href="#">
                <span class="ca-icon2"><%= image_tag("AvatarJohn.png", height: '75', width: '75') %></span>
                <div class="ca-content2">
                    <h2 class="ca-main2">Direccion:</h2>
                    <h3 class="ca-sub2">Cra 59 #65 - 34</h3>
                </div>
            </a>
        </li>
    </ul>
    </div>
</div><!-- content -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>