<%= form_for(@floor) do |f| %>
  <% if @floor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@floor.errors.count, "error") %> prohibited this floor from being saved:</h2>

      <ul>
      <% @floor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-4 col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
            <% if @floor.nombre == nil %>
              <h3 class="centro">Campos Para Registrar Un Piso</h3>
            <% else %>
              <h3 class="centro">Campos Para Editar Un Piso</h3>
            <% end %>
            </div>
            <div class="panel-body">
              <form role="form">
                <div class="form-group mov01-4">
                  <%= f.label :nombre %><br>
                  <%= f.text_field :nombre, class: 'form-control tams' %>
                </div>
                <div class="form-group fm4">
                  <%= f.label :imagen_Piso %>
                  <div class="filefoto">
                  <%= f.file_field :image %>
                  </div>
                </div>
                <% if @floor.nombre == nil %>
                  <div class="actions mo0g">
                    <%= f.submit "Guardar", class: "btn btn-success" %>
                  </div>
                <% else %>
                  <div class="actions mo0g">
                    <%= f.submit "Actualizar", class: "btn btn-warning" %>
                  </div>              
                <% end %>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
