<div class="divplan">
<h4 class="centro">Listado De Pisos</h4>
<div class="centro">
<%= form_tag floors_path, :method => 'get' do %>
  <% content_tag :label do %>
    <div class="form-group">
      Buscar Piso:
      <%= text_field_tag :search, params[:search], class: 'form-control tams' %>
      <%= image_submit_tag("busca.png", height: '16', width: '18', class: 'img11') %>
    </div>
  <% end %>
<% end %>
</div>
<div class="pisosdatos">
    <% @floors.each do |floor| %>
       <p class="centro"><%= floor.nombre %></p><%#</td>%>
       <%= image_tag(floor.image.url, height: '450', width: '450' ) %><%#</td>%>
        <%#<td><%= link_to 'Ver', floor %><%#</td>%>
        <%#<td><%= link_to 'Editar', edit_floor_path(floor) %><%#</td>%>
        <%#<td><%= link_to 'Eliminar', floor, method: :delete, data: { confirm: 'Estas Seguro?' } %><%#</td>%>
        <div class="editar_indexpisos">
        <p> #Areas ⇨  <%= floor.areas.count %></p>
       
        <%= button_to "Editar", edit_floor_path(floor), method: "get",class: 'btn btn-warning' %>
       </div>
       <hr>
    <% end %>
    </div>
<%= button_to 'Nuevo Piso', new_floor_path, method: "get", class: 'btn btn-primary botguarpiso' %>
<div class="paginacion_y_contador2">
<%= will_paginate @floors, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' %>
<br>
#Pisos: <%= @floors.count %>
</div>


</div>

</div>