<p id="notice"><%= notice %></p>

<p>
  <strong>Elemento:</strong>
  <%= @reintegro.elemento %>
</p>

<p>
  <strong>Cuentadante:</strong>
  <%= @reintegro.cuentadante %>
</p>

<p>
  <strong>Fechareintegro:</strong>
  <%= @reintegro.fechaReintegro %>
</p>

<%= link_to 'Edit', edit_elemento_reintegro_path(@elemento,@reintegro) %> |
<%= link_to 'Back', elemento_reintegros_path %>
