<div class="lista_area">
  <%= render "areas/area"  %>
</div>
<% if @floor.id == 3 %>
<div class="contenedortodoplanos">
  <div class="plano">
    
    <%= image_tag (@floor.image.url), alt: 'Planets', usemap: '#planmap' %>
     
      <%= render "elementos/div"%>
    <map name="planmap">
    
      <% @areas.each do |area| %>
        <area alt="" title="" href="/floors/<%= @floor.id %>/areas/<%= area.id %>" shape="<%= area.shape %>" coords="<%= area.coords %>" />
      <% end %>
    </map>

  </div>
</div>
<a href="/floors/4/areas" class="btn btn-primary">PLano Virtual</a>
<a href="http://imagemap-generator.dariodomi.de/" class="btn btn-info">Generador De Coordenadas</a>
<%= link_to "Nueva Area", new_floor_area_path(@floor), class: 'btn btn-primary' %>>
<br>
<% end %>

<% if @floor.id == 2 %>
<div class="contenedortodoplanos">
  <div class="plano2">
    <%= image_tag (@floor.image.url), alt: 'Planets', usemap: '#planmap' %>

      <%= render "elementos/div" %>
    <map name="planmap">
  
      <% @areas.each do |area| %>
        <area alt="" title="" href="/floors/<%= @floor.id %>/areas/<%= area.id %>" shape="<%= area.shape %>" coords="<%= area.coords %>" />
      <% end %>
    </map>
  </div>
</div>
<a href="/floors/4/areas" class="btn btn-primary">PLano Virtual</a>
<a href="http://imagemap-generator.dariodomi.de/" class="btn btn-info">Generador De Coordenadas</a>
<%= link_to "Nueva Area", new_floor_area_path(@floor), class: 'btn btn-primary' %>
<br>
<% end %>

<% if @floor.id == 1 %>
<div class="contenedortodoplanos">
  <div class="plano3">

    <%= image_tag (@floor.image.url), alt: 'Planets', usemap: '#planmap' %>

    <%= render "elementos/div"%>
    <map name="planmap">
  
      <% @areas.each do |area| %>
        <area alt="" title="" href="/floors/<%= @floor.id %>/areas/<%= area.id %>" shape="<%= area.shape %>" coords="<%= area.coords %>" />
      <% end %>
    </map>
  </div>
</div>
<a href="/floors/4/areas" class="btn btn-primary">PLano Virtual</a>
<a href="http://imagemap-generator.dariodomi.de/" class="btn btn-info">Generador De Coordenadas</a>
<%= link_to "Nueva Area", new_floor_area_path(@floor), class: 'btn btn-primary' %>
<br>
<% end %>






<% if @floor.id == 4 %>
<div class="contenedortodoplanos">
  <div class="plano">
    
    <%= image_tag (@floor.image.url), alt: 'Planets', usemap: '#planmap' %>
     
      <%= render "elementos/div"%>
    <map name="planmap">
    
      <% @areas.each do |area| %>
        <area alt="" title="" href="/floors/<%= @floor.id %>/areas/<%= area.id %>" shape="<%= area.shape %>" coords="<%= area.coords %>" />
      <% end %>
    </map>

  </div>
</div>
<a href="http://imagemap-generator.dariodomi.de/" class="btn btn-info">Generador De Coordenadas</a>
<%= link_to "Nueva Area", new_floor_area_path(@floor), class: 'btn btn-primary' %>
<br>
<% end %>





<%#<div class="contenedortodoplanos">%>
  <div class="buscen_area">
    <%= render "pagina/index" %>
  </div>
  
<%#</div>%>