<div class="showcentro">
	<div class="fondop">
		<p id="notice"><%= notice %></p>
		<div class="pisos">
			<p>
				<strong>Nombre Area:</strong>
		  		<%= @area.nombre %>
			</p>
			<p>
				<div>
		  			<%= image_tag (@area.image.url), height: '500', width: '500' %>
		  		</div>
			</p>
			<%= link_to 'Ver elementos ⇨ '+ @area.elementos.count.to_s + '', area_elementos_path(@area), class: "btn btn-default btn-sm" %>
			<%= button_to 'Atras', floor_areas_path, method: "get", class: 'btn btn-success' %>
		</div>
	</div>
</div>