<%= form_for(@elemento) do |f| %>
  <% if @elemento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@elemento.errors.count, "error") %> prohibited this elemento from being saved:</h2>

      <ul>
      <% @elemento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :placa %><br>
    <%= f.number_field :placa %>
  </div>
  <div class="field">
    <%= f.label :tipo_elem_id %><br>
    <%= f.text_field :tipo_elem_id %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :modelo %><br>
    <%= f.text_field :modelo %>
  </div>
  <div class="field">
    <%= f.label :serial %><br>
    <%= f.text_field :serial %>
  </div>
  <div class="field">
    <%= f.label :fecha_adquisicion %><br>
    <%= f.datetime_select :fecha_adquisicion %>
  </div>
  <div class="field">
    <%= f.label :valor %><br>
    <%= f.number_field :valor %>
  </div>
  <div class="field">
    <%= f.label :estado %><br>
    <%= f.check_box :estado %>
  </div>
  <div class="field">
    <%= f.label :cuentadante_id %><br>
    <%= f.text_field :cuentadante_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
