<div class="fondc2" >
<h1>Listado De Elementos</h1>
<%#<%= form_tag elementos_path, :method => 'get' do %>
<%#  <% content_tag :label do %>
<%#    <div class="form-group pos">
      Buscar Elemento:
      <%= text_field_tag :search, params[:search], class: 'form-control tams' %>
<%#      <%= image_submit_tag("busca.png", height: '16', width: '18', class: 'img1') %>
<%#    </div>
  <% end %>
<%#<% end %>
<div class="ocultar">
  <% @elemento.cuentadante.id %>
</div>

<%= search_form_for @search, cuentadante_elementos_path(@cuentadante, @elemento), :method => 'get' do |f| %>
  <%= f.condition_fields do |c| %>
  <div class="field">
    <%= c.attribute_fields do |a| %>
      <%= a.attribute_select associations: [:category] %>
    <% end %>
    <%= c.predicate_select %>
    <%= c.value_fields do |v| %>
      <%= v.text_field :value %>
    <% end %>
    </div>
  <% end %>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<div class="panel-body contabla">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="success">
            <th class="centro">Placa</th>
            <th class="centro">Tipo De Elemento</th>
            <th class="centro">Nombre</th>
            <th class="centro">Descripcion</th>
            <th class="centro">Modelo</th>
            <th class="centro">Serial</th>
            <th class="centro">Fecha De Adquisicion</th>
            <th class="centro">Valor</th>
            <th class="centro">Estado</th>
            <th class="centro">Cuentadante</th>
            <th class="centro">Opciones</th>
          </tr>
        </thead>

        <tbody>
          <% @elementos.each do |elemento| %>
            <tr>
              <td><%= elemento.placa %></td>
              <td><%= elemento.tipo_elem.nombre rescue nil%></td>
              <td><%= elemento.nombre %></td>
              <td>
                <div class="dc">
                  <%= elemento.descripcion %>
                </div>
              </td>
              <td>
                <div class="dc2">
                  <%= elemento.modelo %>
                </div>
              </td>
              <td><%= elemento.serial %></td>
              <td><%= elemento.fecha_adquisicion %></td>
              <td><%= elemento.valor %></td>
              <td><%= elemento.estado %></td>
              
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>

<%#<% if can? :create, @elemento %>
<br>
<%#<%= button_to 'Nuevo Elemento', new_cuentadante_elemento_path(@cuentadante), method: "get", class: 'btn btn-primary' %>
<%#<% end %>
<%#<%= will_paginate @elementos, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' %>

</div>