<div class="fondc2" >
<h1>Listado De Elementos</h1>
<%#<%= form_tag elementos_path, :method => 'get' do %>
<%#  <% content_tag :label do %>
<%#    <div class="form-group pos">
      Buscar Elemento:
      <%= text_field_tag :search, params[:search], class: 'form-control tams' %>
<%#      <%= image_submit_tag("busca.png", height: '16', width: '18', class: 'img1') %>
<%#    </div>
  <% end %>
<%#<% end %>
<div class="panel-body contabla">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="success">
            <th class="centro">Placa</th>
            <th class="centro">Tipo De Elemento</th>
            <th class="centro">Nombre</th>
            <th class="centro">Descripcion</th>
            <th class="centro">Modelo</th>
            <th class="centro">Serial</th>
            <th class="centro">Fecha De Adquisicion</th>
            <th class="centro">Valor</th>
            <th class="centro">Estado</th>
            <th class="centro">Opciones</th>
            <th class="centro">Movimientos</th>
          </tr>
        </thead>

        <tbody>
          <% @elementos.each do |elemento| %>
            <tr>
              <td><%= elemento.placa %></td>
              <td><%= elemento.tipo_elem.nombre rescue nil%></td>
              <td><%= elemento.nombre %></td>
              <td>
                <div class="dc">
                  <%= elemento.descripcion %>
                </div>
              </td>
              <td>
                <div class="dc2">
                  <%= elemento.modelo %>
                </div>
              </td>
              <td><%= elemento.serial %></td>
              <td><%= elemento.fecha_adquisicion %></td>
              <td><%= elemento.valor %></td>
              <td><%= elemento.estado %></td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><%= image_tag("opcion.png", height: '10', width: '18', class: 'img1') %>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><%= button_to 'Ver', cuentadante_elemento_path(@cuentadante,elemento) , method: "get", class: 'btn btn-info bottam' %></a></li>
                    <% if can? :update, elemento %>
                    <li class="divider"></li>
                    <li><a href="#"><%= button_to 'Editar', edit_cuentadante_elemento_path(@cuentadante,elemento), method: "get", class: 'btn btn-warning bottam2' %></a></li>
                    <% end %>
                    <% if can? :destroy, elemento %>
                    <li class="divider"></li>
                    <li><a href="#"><%= button_to 'Eliminar', cuentadante_elemento_path(@cuentadante,elemento), method: :delete, data: { confirm: 'Are you sure?', method: "get" }, class: 'btn btn-danger bottam3' %></a></li>
                    <% end %>
                  </ul>
                </div>
              </td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><%= image_tag("opcion.png", height: '10', width: '18', class: 'img1') %>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li class="tamli"><a href="#"><%= button_to 'Traspaso', elemento_traspasos_path(elemento), :method=>"get", class: 'btn btn-info' %></a></li>
                    <li class="divider"></li>
                    <li class="tamli"><a href="#"><%= button_to 'Reintegro', elemento_reintegros_path(elemento), :method=>"get", class: 'btn btn-info' %></a></li>
                  </ul>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>

<% if can? :create, @elemento %>
<br>
<%= button_to 'Nuevo Elemento', new_cuentadante_elemento_path(@cuentadante), method: "get", class: 'btn btn-primary' %>
<% end %>
<%#<%= will_paginate @elementos, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' %>
<br>
Elementos: <%= @elementos.count %>
<%= button_to 'Volver al Listado de Cuentadantes', cuentadantes_path,  :method=>"get", class: "btn btn-primary" %>
</div>