<%= form_for [@elemento,@transfer] do |f| %>
  <% if @transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
      <% @transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-4 col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
            <% if @transfer.cuentadante_id == nil %>
              <h3 class="centro">Campos Para Registrar Un Traspaso</h3>
            <% else %>
               <h3 class="centro">Campos Para Editar Un Traspaso</h3>
            <% end %>
            </div>
            <div class="panel-body">
              <form role="form">
                <div class="formcentro">
                  <div class="field">
                    <%= f.hidden_field :elemento_id %>
                  </div>
                  <div class="field">
                    <%= f.label :Nombre_Elemento %><br>
                    <%= @elemento.nombre %>
                  </div>
                  <div class="field">
                    <%= f.label :Cuentadante_Origen %><br>
                    <%= @elemento.cuentadante.nombre %>
                  </div>
                  <div class="field">
                    <label>Cuentadante Destino</label><br>
                    <%= f.collection_select :cuentadante_id, Cuentadante.all, :id, :nombre, class: "form-control tams", prompt: "Seleccione Cuentadante Destino" %>
                  </div>
                  <div class="field">
                    <%= f.label :Fecha_Traspaso %><br>
                    <%= f.datetime_select :fechaTraspaso %>
                  </div>
                </div>
                <% if @transfer.cuentadante_id == nil %>
                  <div class="actions mo0g">
                    <%= f.submit "Guardar", class: "btn btn-success" %>
                  </div>
                <% else %>
                  <div class="actions mo0g">
                    <%= f.submit "Actualizar", class: "btn btn-warning" %>
                  </div>              
                <% end %>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
