<%# add navigation links to this file %>
<div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="colort" href="index.html">Bienvenido Admin</p> 
            </div>
  <div class="brand"><div class="header"> Ultimo Acceso: 30 Mayo 2014 &nbsp; <a href="#" class="btn btn-danger square-btn-adjust">Logout</a></div> </div>
        </nav>
           <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
        <ul class="menu">
        	<li class="tex-center">
                    <%= image_tag("find_user.png") %>
                    <p class="text3">Perfil</p>
					</li>
		   <li class="tam1">
                        <a href="#"><%= image_tag("013.png", height: '55', width: '55', class: 'img1') %>
                        	<p class="text">Gestion</p>
                        </a>
                        <ul>
                            <li class="tam1">
                        		<a href="/elementos"><%= image_tag("047.png", height: '55', width: '55', class: 'img1') %><p class="text1">Elementos</p>
                        		</a>
                            </li>
                            <li class="tam1">
                        		<a href="/cuentadantes"><%= image_tag("002.png", height: '55', width: '55', class: 'img1') %><p class="text2">Cuentadantes</p>
                        		</a>
                            </li>
                            <li class="tam1">
                        		<a href="#"><%= image_tag("041.png", height: '55', width: '55', class: 'img1') %><p class="text1">Planos</p>
                        		</a>
                            </li>
                        </ul>
		   </li>
		   <li class="tam1">
                        <a href="#"><%= image_tag("067.png", height: '55', width: '55', class: 'img1') %>
                        	<p class="text1">Movimiento</p>
                        </a>
                        <ul>
                            <li class="tam1">
                        		<a href="#"><%= image_tag("040p.png", height: '55', width: '55', class: 'img1') %><p class="text1">Traspasos</p>
                        		</a>
                            </li>
                            <li class="tam1">
                        		<a href="#"><%= image_tag("039.png", height: '55', width: '55', class: 'img1') %><p class="text1">Reintegros</p>
                        		</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tam1">
                        <a href="#" ><%= image_tag("027.png", height: '55', width: '55', class: 'img1') %>
                        	<p class="text">Seguridad</p>
                        </a>
                        <ul>
                            <li class="tam1">
                        		<a href="#"><%= image_tag("006.png", height: '55', width: '55', class: 'img1') %><p class="text1">Usuarios</p>
                        		</a>
                            </li>
                            <li class="tam1">
                        		<a href="#"><%= image_tag("030.png", height: '55', width: '55', class: 'img1') %><p class="text1">Usuarios</p>
                        		</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tam1">
                        <a href="#" ><%= image_tag("026.png", height: '55', width: '55', class: 'img1') %>
                        	<p class="text4">Configurar Tipos</p>
                        </a>
                        <ul>
                            <li class="tam1">
                        		<a href="/tipo_docs"><%= image_tag("005.png", height: '55', width: '55', class: 'img1') %><p class="text4">Tipos De Documentos</p>
                        		</a>
                            </li>
                            <li class="tam1">
                        		<a href="/tipo_elems"><%= image_tag("045.png", height: '55', width: '55', class: 'img1') %><p class="text4">Tipos De Elementos</p>
                        		</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tam1">
                        <a href="#"><%= image_tag("040.png", height: '55', width: '55', class: 'img1') %>
                        	<p class="text">Ubicacion</p>
                        </a>
                    </li>
                    <li class="tam1">
                        <a href="#"><%= image_tag("058.png", height: '55', width: '55', class: 'img1') %>
                        	<p class="text1"> Estadistica</p>
                        </a>
                    </li>                  
                    <li class="tam1">
                        <a href="#"><%= image_tag("019.png", height: '55', width: '55', class: 'img1') %>
                        	<p class="text1"> Cronograma</p>
                        </a>
                      </li>  
                    <li class="tam1">
                        <a href="#"><%= image_tag("059.png", height: '55', width: '55', class: 'img1') %>
                        	<p class="text1"> Trazabilidad</p>
                        </a>
                    </li>
		 </ul>
        
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2 class="bienvenida">Admin Dashboard</h2>   
                        <h5 class="bienvenida">Welcome Jhon Deo , Love to see you back. </h5>
                        
                        <br>
                        <br>
                        <hr>
                        <%= yield %>
                    </div>
                </div>
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="jquery.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="jquery.metisMenu.js"></script>
     <!-- MORRIS CHART SCRIPTS -->
     <script src="raphael-2.1.0.min.js"></script>
    <script src="morris.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="custom.js"></script>