<%# add navigation links to this file %>
<div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="colort"><a style="text-decoration:none; background-color: transparent;" class="ahov" href="/pagina/saim">Bienvenido <%= image_tag ("centro.png"), height: '130', width: '600', class: 'cfdcm' %></a></p> 
            </div>
            <div class="brand">
                <div class="header"> Ultimo Acceso: 30 Mayo 2014 &nbsp;
                <br>
                    <% if current_user %>
                        <div class="btn-group movdro">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><%= current_user.nombre %> ▼
                            </button>
                            <ul class="dropdown-menu1" role="menu">
                              <li><a href="#"><%= button_to "Editar Perfil", edit_user_path(current_user.id), method: "get", class: 'btn btn-info botonlog' %></a></li>
                              <li class="divider"></li>
                              <li><a href="#"><%= button_to "Logout", :logout, method: :get, class: 'btn btn-danger botonlog1' %></a></li>
                            </ul>
                        </div>
                    <% else %>
                        <div class="btn-group movdro">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Cuenta ▼
                            </button>
                            <ul class="dropdown-menu1" role="menu">
                              <li><a href="#"><%= button_to "Regstrate", new_user_path, method: "get", class: 'btn btn-info botonlog' %></a></li>
                              <li class="divider"></li>
                              <li><a href="#"><%= button_to "Login", new_user_session_path, method: "get", remote: true, class: 'btn btn-warning botonlog1' %></a></li>
                            </ul>
                        </div>
                    <% end %>
                </div>
            </div>          
        </nav>
           <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
        <ul class="menu">
        	<li class="tex-center">
                <% if current_user %>
                    <% if current_user.foto_file_name == nil %>
                        <%= image_tag("find_user.png") %>
                        <p class="text3"><center><%= current_user.cargo.rol %></center></p>
                    <% else %>
                        <%= image_tag (current_user.foto.url), height: '90', width: '90' %>
                        <p class="text3"><center><%= current_user.cargo.rol %></center></p>
                    <% end %>
                <% else %>
                    <%= image_tag("find_user.png") %>
                    <p class="text3"><center>Saim</center></p>
                <% end %>    
			</li>
                <% if current_user %>
                    <li class="tam1">
                        <a href="#"><%= image_tag("013.png", height: '55', width: '55', class: 'img1') %>
                        	<p class="text">Gestion</p>
                        </a>
                        <ul>
                            <li class="tam1">
                        		<a href="/allelementos"><%= image_tag("047.png", height: '55', width: '55', class: 'img1') %><p class="text1">Elementos</p>
                        		</a>
                            </li>
                            <li class="tam1">
                        		<a href="/cuentadantes"><%= image_tag("002.png", height: '55', width: '55', class: 'img1') %><p class="text2">Cuentadantes</p>
                        		</a>
                            </li>
                            <li class="tam1">
                        		<a href="#"><%= image_tag("041.png", height: '55', width: '55', class: 'img1') %><p class="text1">Planos</p>
                        		</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tam1">
                        <a href="#"><%= image_tag("067.png", height: '55', width: '55', class: 'img1') %>
                        	<p class="text1">Movimiento</p>
                        </a>
                        <ul>
                            <li class="tam1">
                        		<a href="/alltraspasos"><%= image_tag("040p.png", height: '55', width: '55', class: 'img1') %><p class="text1">Traspasos</p>
                        		</a>
                            </li>
                            <li class="tam1">
                        		<a href="/allreintegros"><%= image_tag("039.png", height: '55', width: '55', class: 'img1') %><p class="text1">Reintegros</p>
                        		</a>
                            </li>
                        </ul>
                    </li>
                    <li class="tam1">
                        <a href="#" ><%= image_tag("027.png", height: '55', width: '55', class: 'img1') %>
                        	<p class="text">Seguridad</p>
                        </a>
                        <ul>
                            <li class="tam1">
                        		<a href="/users"><%= image_tag("006.png", height: '55', width: '55', class: 'img1') %><p class="text1">Usuarios</p>
                        		</a>
                            </li>
                            <% if current_user.email == "Saim@gmail.com" %>
                            <li class="tam1">
                        		<a href="/pagina/bloqueo"><%= image_tag("030.png", height: '55', width: '55', class: 'img1') %><p class="text1">Bloqueos</p>
                        		</a>
                            </li>
                            <% else %>
                            <% end %>
                        </ul>
                    </li>
                    <% if current_user.email == "Saim@gmail.com" %>
                    <li class="tam1">
                        <a href="#" ><%= image_tag("026.png", height: '55', width: '55', class: 'img1') %>
                        	<p class="text4">Configurar Tipos</p>
                        </a>
                        <ul>
                            <li class="tam1">
                        		<a href="/tipo_docs"><%= image_tag("005.png", height: '55', width: '55', class: 'img1') %><p class="text4">Tipos De Documentos</p>
                        		</a>
                            </li>
                            <li class="tam1">
                        		<a href="/tipo_elems"><%= image_tag("045.png", height: '55', width: '55', class: 'img1') %><p class="text4">Tipos De Elementos</p>
                        		</a>
                            </li>
                        </ul>
                    </li>
                    <% else %>
                    <% end %>
                    <li class="tam1">
                        <a href="#"><%= image_tag("040.png", height: '55', width: '55', class: 'img1') %>
                        	<p class="text">Ubicacion</p>
                        </a>
                    </li>
                    <li class="tam1">
                        <a href="/pagina/estadisticas"><%= image_tag("058.png", height: '55', width: '55', class: 'img1') %>
                        	<p class="text1"> Estadistica</p>
                        </a>
                    </li>     
                    <li class="tam1">
                        <a href="/events"><%= image_tag("019.png", height: '55', width: '55', class: 'img1') %>
                        	<p class="text1"> Cronograma</p>
                        </a>
                    </li>
                    <li class="tam1">
                        <a href="/pagina/traceability"><%= image_tag("059.png", height: '55', width: '55', class: 'img1') %>
                        	<p class="text1"> Trazabilidad</p>
                        </a>
                    </li>
                <% else %>
                <% end %>
		 </ul>
        
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                    <h4 class="bienvenida">
                            <span>
                            <div class="content-box">
                                <div id="rotator">
                                    <a href="#"><%= image_tag("banner1.jpg", height: '100', width: '800') %></a>
                                    <a href="#"><%= image_tag("banner2.jpg", height: '100', width: '800') %></a>
                                    <a href="#"><%= image_tag("banner3.jpg", height: '100', width: '800') %></a>
                                    <a href="#"><%= image_tag("banner4.jpg", height: '100', width: '800') %></a>
                                </div>
                            </div>                                
                            </span>
                    </h4>
                            <%#<div class="contvid">
                                <%= video_tag("Animaci_n_Ubicaci_n_Mapa.mp4", autobuffer: true, height: '160', width: '1075', autoplay: true, class: 'video') %>
                            <%#</div> %>
                            <%= render 'layouts/messages' %>
                            <hr>
                            <%= yield %>
                    </div>
                </div>
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="jquery.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="jquery.metisMenu.js"></script>
     <!-- MORRIS CHART SCRIPTS -->
     <script src="raphael-2.1.0.min.js"></script>
    <script src="morris.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="custom.js"></script>